swagger: "2.0"
info:
  description: |
    CRM系统,
  version: "1.0.0"
  title: 康复跟踪仪接口说明
  termsOfService: http://medkr.com/terms/
  contact:
    name: mik@medkr.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: medkr.com
basePath: /v2
schemes:
  - http
  - https
paths:
  /workout/list/{userID}:
    get:
      tags:
        - user
        - coach
      summary: 查询当前用户动作列表
      description: "获取当前用户动作待完成动作和待完成量表"
      operationId: listWorkout
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - in: path
          name: userID
          description: 用户id
          required: true
          type: string
        - in: query
          name: date
          description: 用户id
          required: false
          type: string
          format: date
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/workoutlist"
        "405":
          description: Invalid userID input
        "404":
          description: userID cannot found
        "400":
          description: Invalid input
      security:
        - physicaltr_auth:
          - coach
          - user
  /workout/detail/{workoutID}:
    post:
      tags:
        - user
      summary: 获取某个动作规范要求
      description: 通过当前用户或者等级获取动作规范要求
      operationId: findWorkoutDetail
      produces:
        - application/json
        - application/xml
      parameters:
        - in: path
          name: workoutID
          description: 动作id
          required: true
          type: string
        - in: query
          name: level
          description: 动作难度编号
          required: true
          type: integer
          format: int64
        - in: query
          name: date
          description: 日期
          required: false
          type: string
          format: date
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/WorkoutDetail"
        "400":
          description: Invalid status value
      security:
        - physicaltr_auth:
          - coach
          - user
  /workout/track:
    post:
      tags:
        - user
      summary: 提交单组信息
      description: 完成一组后获得单租信息
      operationId: submitTrack
      produces:
        - application/json
        - application/xml
      parameters:
        - in: query
          name: userID
          description: 用户id
          required: true
          type: string
        - in: query
          name: workoutID
          description: 训练id
          required: true
          type: string
        - in: query
          name: wodate
          description: 锻炼日期
          required: false
          type: string
          format: date
        - in: body
          name: record
          description: 锻炼数据
          required: false
          schema:
            $ref: "#/definitions/WorkoutPerSet"
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/Pet"
        "400":
          description: Invalid tag value
      security:
        - physicaltr_auth:
          - coach
          - user
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
  physicaltr_auth:
    type: oauth2
    authorizationUrl: http://api.medkr.com/api/oauth/dialog
    flow: implicit
    scopes:
      coach: modify and arrange workout plan
      user: physical trianing follow the plan
definitions:
  workoutn:
    type: object
    properties:
      id:
        type: integer
        format: int
      name:
        type: string
      level:
        type: string
      sets:
        type: integer
        format: int
      completed:
        type: integer
        format: int
      numIngroup:
        type: integer
        format: int
      photoUrls:
        type: string
  evaluation:
    type: object
    properties:
      id:
        type: integer
        format: int
      name:
        type: string
      scores:
        type: integer
        format: int
      photoUrls:
        type: string
  workoutlist:
    type: object
    properties:
      id:
        type: integer
        format: int64
      schemeName:
        type: string
      daysAfterOpreation:
        type: string
      cteator:
        type: string
      type:
        type: integer
        format: int64
      timest:
        type: string
        format: date-time
      workouts:
        type: array
        items:
          $ref: "#/definitions/workoutn"
      evals:
        type: array
        items:
          $ref: "#/definitions/evaluation"
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      email:
        type: string
      password:
        type: string
      phone:
        type: string
      userStatus:
        type: integer
        format: int32
        description: User Status
  Category:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
  Pet:
    type: object
    required:
      - name
      - photoUrls
    properties:
      id:
        type: integer
        format: int64
      category:
        $ref: "#/definitions/Category"
      name:
        type: string
        example: doggie
      photoUrls:
        type: array
        items:
          type: string
      tags:
        type: array
        items:
          $ref: "#/definitions/Tag"
      status:
        type: string
        description: pet status in the store
  Tag:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
  WorkoutPerSet:
    type: object
    properties:
      set_id:
        type: integer
        format: int64
      score:
        type: number
        format: float
      record:
        type: array
        items:
          $ref: "#/definitions/WorkoutPerCount"
  WorkoutPerCount:
    type: object
    properties:
      count_id:
        type: integer
        format: int64
      values:
        type: array
        items:
          type: number
          format: float
      violation:
        type: integer
        format: int64
      score:
        type: number
        format: float
  WorkoutDetail:
    type: object
    properties:
      workout_id:
        type: integer
        format: int64
      workout_name:
        type: string
      video_url:
        type: array
        items:
          type: string
      photo_url:
        type: array
        items:
          type: string
      actiontype:
        type: integer
        format: int64
      isNeedCalibration:
        type: integer
        format: int64
      keyAngels:
        type: array
        items:
          type: string
      putLocals:
        type: array
        items:
          $ref: "#/definitions/putLocal"
      countSperset:
        type: array
        items:
          $ref: "#/definitions/countsperset"
      phases:
        type: array
        items:
          $ref: "#/definitions/phase"
      tracks:
        type: array
        items:
          $ref: "#/definitions/track"
      scoreRules:
        type: array
        items:
          $ref: "#/definitions/scoreRule"
  event:
    type: object
    properties:
      id:
        type: integer
        format: int64
      source:
        type: integer
        format: int64
      target:
        type: integer
        format: int64
      condition:
        type: array
        items:
          $ref: "#/definitions/syscondition"
      notify:
        type: string
  track:
    type: object
    properties:
      id:
        type: integer
        format: int64
      type:
        type: string
      type2:
        type: string
      object_id:
        type: integer
        format: int64
      primary:
        type: boolean
  scoreRule:
    type: object
    properties:
      id:
        type: integer
        format: int64
      phase_id:
        type: string
      track_id:
        type: string
      stats:
        type: integer
        format: int64
      coefsRange:
        type: array
        items:
          $ref: "#/definitions/countsperset"
  putLocal:
    type: object
    properties:
      actionNumber:
        type: integer
        format: int64
      localname:
        type: string
  countsperset:
    type: object
    properties:
      value:
        type: string
      minRange:
        type: string
      maxRange:
        type: string
  syscondition:
    type: object
    properties:
      isStart:
        type: string
      minRange:
        type: string
      maxRange:
        type: string
  phase:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      required:
        type: boolean
      fps:
        type: integer
        format: int6
      orderNumber:
        type: integer
        format: int64
      events:
        type: array
        items:
          $ref: "#/definitions/event"
